
.media.margin-bottom
  = link_to (comment.user), :class => "pull-left" do 
    %img.media-object.avatar-med{:src => "#{comment.user.avatar.url(:thumb)}"}
  .media-body.margin-bottome
    %p.no-margin-bottom
      %strong
        = link_to (@shot.user) do
          = comment.user.name
    %p.no-margin-bottom
      = h(comment.body)
    %p.muted
      %small
        = comment.created_at.strftime("%B %d, %Y")
        -if current_user.id.to_i == comment.user_id.to_i
          = link_to (edit_shot_comment_path(@shot, comment)) do
            Edit
          |
          \#{link_to 'Delete', shot_comment_path(@shot, comment), :confirm => 'Are you sure?', :method => :delete}