/ = link_to("<< Back to Shots", {:action => 'index'}, :class => 'back-link')
:javascript
  $(document).ready(function(){

    var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1",
    {
      m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
      oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
    }, {
      cssSelectorAncestor: "#cp_container_1",
      swfPath: "js",
      wmode: "window",
      keyEnabled: true
    });

  });
  
.row
  .span6
    .media.margin-bottom
      = link_to (@shot.user), :class => "pull-left" do 
        %img.media-object.avatar-lg{:src => "#{@shot.user.avatar.url(:thumb)}"}
      .media-body.margin-bottom
        %h4.media-heading 
          = @shot.title
        %p.muted
          by:
          = link_to (@shot.user) do
            = @shot.user.name
          = @shot.created_at.strftime("%B %d, %Y")
      .clearfix
      %p
        = @shot.description
      = render 'shot_audio'
  .span6
    -if @shot.user.id == current_user.id
      / Button to trigger modal
      %a{"data-toggle" => "modal", :href => "#delete", :role => "button"}
        %i.icon-trash 
        Delete
      %br
      = link_to({:action => 'edit', :id => @shot.id})do
        %i.icon-cog
        Edit

/ Modal
#delete.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel 
      Delete Shot
  .modal-body
    %p
      Are you sure you want to permanently delete this shot?
    %p
      Shot Name:
      = @shot.title
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
    = form_for(:shot, :url => {:action => 'destroy_shot', :id => @shot.id}, :html => {:class => "display-inline"}) do |f|
      = submit_tag("Delete Shot", :class=>"btn btn-primary")