.row
  .span12
    .media
      = link_to (@user), :class => "pull-left" do 
        %img.media-object.avatar-lg{:src => "#{@user.avatar.url(:thumb)}"}
      .media-body
        %h4.media-heading 
          = @user.name
        %p.muted
          = @user.email
      .clearfix

.page-header
  %h5.no-margin-bottom
    Shots
  

= render :partial => 'shared/shot_thumb', :locals => {:shots => @shots}