.shot-list
  .no-margin-bottom
    :javascript
      $(document).ready(function(){
            $("#jquery_jplayer_#{c.id}").jPlayer({
              ready: function () {
                $(this).jPlayer("setMedia", {
                  m4a: "#{c.audio.url}"
                });
              },
              play: function() {
                $(this).jPlayer("pauseOthers");
              },
              swfPath: "js",
              supplied: "m4a",
              cssSelectorAncestor: "#jp_container_#{c.id}",
              wmode: "window",
              smoothPlayBar: true,
              keyEnabled: true
            });

      });


    %div
      %div{:id=>"jquery_jplayer_#{c.id}", :class=>"jp-jplayer"}
      %div{:id=>"jp_container_#{c.id}", :class=>"jp-audio"}
        .jp-type-single
          .jp-gui.jp-interface
            .row
              .span12
                .page-header.no-margin-top
                  .media
                    .pull-left.margin-right
                      %ul.jp-controls.margin-bottom
                        %li
                          %a.jp-play{href: "javascript:;", tabindex: "1"}
                            %i.icon-play
                        %li
                          %a.jp-pause{href: "javascript:;", tabindex: "1"} 
                            %i.icon-pause
                    .media-body
                      =link_to c do
                        %small
                          =c.title
                      .jp-time-holder
                        .jp-current-time

                      .jp-progress
                        .jp-seek-bar
                          .jp-play-bar
