-shots.in_groups_of(4,false) do |s|
  .row
    -s.each do |c| 
      .span3.margin-bottom
        .no-margin-bottom
          :javascript
            $(document).ready(function(){

              var myCirclePlayer = new CirclePlayer("#jquery_jplayer_#{c.id}",
              {
                m4a: "#{c.audio.url}"
              }, {
                cssSelectorAncestor: "#cp_container_#{c.id}",
                swfPath: "js",
                wmode: "window",
                keyEnabled: true
              });

            });
          .left
            %div{:id=>"jquery_jplayer_#{c.id}", :class=>"cp-jplayer"}
            / The container for the interface can go where you want to display it. Show and hide it as you need.
            %div{:id=>"cp_container_#{c.id}", :class=>"cp-container"}
              .cp-buffer-holder
                / .cp-gt50 only needed when buffer is > than 50%
                .cp-buffer-1
                .cp-buffer-2
              .cp-progress-holder
                / .cp-gt50 only needed when progress is > than 50%
                .cp-progress-1
                .cp-progress-2
              .cp-circle-control
              %ul.cp-controls
                %li
                  %a.cp-play{:tabindex => "1"} play
                %li
                  %a.cp-pause{:style => "display:none;", :tabindex => "1"} pause
                / Needs the inline style here, or jQuery.show() uses display:inline instead of display:block
          .clearfix
        .half-margin-bottom
          %img.avatar-sm{:src=>"#{c.user.avatar.url(:thumb)}"}
          %h4.display-inline
            = link_to c.user.name, c.user
        = link_to (c) do
          %h3
            = c.title
        %i.icon-comment
        = c.comments.count
        %i.icon-flag
        = c.audio_file_size/8692
        seconds